.bottom-bar-box{
    display: flex;
    height: 6.5vh;
    display: flex;
}
.goBack-button{
    margin: 1.25vh;
}
.header-title{
    font-size: 2em;
    margin: 1.25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #f2e8cf;
    width: 100vw;
}