.application-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.application-header{
    background: #6a994e;
    height: 7vh;
}
.application-page-content{
    background: #f2e8cf;
    height: 83vh;
}
.application-bottomBar{
    background: #6a994e;
    height: 10vh;
}