.recipe-box{
    display: flex;
    flex-direction: column;
    margin: 3vh 5vw 13vh 5vw;
    color: black;
}
.recipe-preview{
    position: relative;
}
.image-fond{
    position: absolute;
    z-index: 0;
    height: 10vh;
    width: 90vw;
    border-radius: 20px 30px 30px 20px;
    background-color: #bc4749;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.5);
}
.fond-gradient{
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    height: 10vh;
    width: 90vw;
    background: linear-gradient(90deg, rgba(242, 232, 207, 0.15) 24%, #A7C957 38%);
    display: flex;
}
.recipe-title, .recipe-info{
    margin: 0 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.recipe-title{
    width: 65vw;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.recipe-info{
    width: 25vw;
}