button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.button-link{
    color: #f2e8cf;
}
.button-link-active{
    color: #96907f;
}
.bottom-bar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}